/*Here are the fonts used:*/
.playwrite-de-grund-grundFont {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.oswald-oswaldFont {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.caveat-caveatFont {
    font-family: "Caveat", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

/*This is the CSS for the Recipe Pages*/
html {
    background-color: rgba(240, 243, 230);
}

body {
    font-family: "Playwrite DE Grund", 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    background-color: rgb(174, 192, 179);
    margin: -8px;
    padding: 20px;
    border-bottom: rgb(161, 152, 167) 4px solid;
    justify-content: space-between;
    align-items: center;
}
#logotext {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    font-family: "Caveat";
    text-decoration: underline;
}
.leftlinks, .rightlinks {
    display: flex;
    color: black;
    gap: 24px;
}
.homelink {
    background-color: rgb(161, 152, 167);
    padding: 8px;
    border-radius: 4px;
}


.herobanner {
    background-color: rgb(161, 152, 167);
    margin: 24px;
    margin-bottom: 18px;
    padding: 18px;
    border: solid 2px rgba(240, 243, 230);
    display: flex;
    gap: 18px;
}
.bannertext {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 210px;
}
.bannertext h1 {
    font-family: "Bebas Neue"
}
.bannertext p {
    font-size: 18px;
    margin-top: -14px;
}
.details {
    display: flex;
    gap: 64px;
    justify-content: start;
    margin-top: 8px;
}
#preptimebox, #caloriesbox, #servingsbox {
    background-color: rgb(146, 137, 153);
    width: 95px;
    height: 60px;
}
.detailtitle {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}
.detailnumber {
    text-align: center;
}

.secondtitle {
    text-align: center;
    background-color: rgba(174, 192, 179);
    margin: 0px 24px;
    padding: 18px 8px;
    border: solid rgb(161, 152, 167);
    border-width: 1px 2px;
    font-family: "Caveat";
    font-size: 34px;
}




                         /*Second Section*/
.ingredients {
    display: flex;
    justify-content: space-between;
    background-color: rgba(174, 192, 179);
    margin: 0px 24px;
    padding: 0px 18px;
    border: solid rgb(161, 152, 167);
    border-width: 1px 2px;
    line-height: 1.4;
}
.thewhat {
    margin-top: 12px;
    margin-bottom: -12px;
    font-family: "Bebas Neue";
    font-size: 30px;
}
img#flaxphoto {
    align-self: center;
    height: 160px;
}


.instructions {
    background-color: rgba(174, 192, 179);
    margin: 24px;
    padding: 0px 18px;
    border: solid rgb(161, 152, 167);
    border-width: 1px 2px;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 1.4;
}
.thehowto {
    margin-top: 12px;
    margin-bottom: -12px;
    font-family: "Bebas Neue";
    font-size: 30px;
}
.enjoydiv {
    background-color: rgb(161, 152, 167);
    margin: 24px;
    border: solid rgb(161, 152, 167);
    border-width: 1px 2px;
    margin-top: 18px;
    justify-content: center;
}


h1 {
    font-weight: 520;
    font-size: 40px;
    margin: 0;
}
h2 {
    font-weight: 550;
    font-size: 25px;
    margin: 0;
}
p {
    font-size: 20px;
    margin: 0;
}
ul, ol {
    font-size: 20px;
}
.enjoy {
    display: flex;
    font-size: 42px;
    font-family: "Caveat";
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding-bottom: 4px;
}
img#mangophoto {
    height: auto;
    width: 210px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}